@import url("https://cdn.staticfile.org/bulma/0.8.0/css/bulma.min.css");
h1 {
  margin: 1em 0;
}
.container {
  padding: 1rem;
}

.input.search {
  max-width: 450px;
}

.filter-row {
  display: flex;
  margin: 1em 0;
  align-items: center;
}

.filter-row .select,
.filter-row .label {
  margin: 0 0.5rem;
}

.spacer {
  flex-grow: 1;
}

.level-item.name {
  min-width: 270px;
  justify-content: flex-start;
}

.level-item {
  min-width: 4em;
}

.level-item  + .level-item {
  margin-left: 1em;
}